---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/header'
import ProjectDetail from './[id]'
import PROJECTS_DATA from '../../constants/projects.json'
import LayoutPageTransition from '../../layouts/LayoutPageTransition.astro'
import PROJECT_DATA from '../../constants/projects.json'

export function getStaticPaths() {
  return PROJECTS_DATA.projects.map((project) => ({
    params: { id: project.id },
  }))
}

const { id } = Astro.params
const project = PROJECTS_DATA.projects.find(project => project.id === id)
---

<Layout title="Projects | CollabIn">
  <LayoutPageTransition>
    <div class="bg-text">
      <div class="container px-5 md:py-6 py-3 mx-auto">
        <Header
          headerText={String(project?.title)}
          text={{
            first: String(project?.author),
            second: project?.is_finished ? 'FINISHED' : 'OPEN FOR CONTRIBUTION',
            third: String(project?.category),
          }}
          finished={project?.is_finished && String(project.finished_date)}
          client:load
        />
      </div>
    </div>
    <ProjectDetail id={Number(id)} client:load />
  </LayoutPageTransition>
</Layout>
