---
import Layout from "../../layouts/Layout.astro";
import Header from "./header";
import Content from './content';
---

<Layout title="Projects | CollabIn">
	<main class="bg-text">
		<div class="container px-5 py-6 mx-auto">
			<Header client:load/>
			<Content />
		</div>
	</main>
</Layout>