---
import Layout from '../../layouts/Layout.astro'
import ProjectsHeader from '../projects/projects-header'
import LayoutPageTransition from '../../layouts/LayoutPageTransition.astro'
---

<Layout title="My Projects | CollabIn">
  <LayoutPageTransition className="bg-text">
    <div class="container px-5 md:py-6 py-3 mx-auto">
      <ProjectsHeader subHeaderText="MY PROJECTS" addProject={true} client:load />
    </div>
  </LayoutPageTransition>
</Layout>
