---
import Layout from '../../layouts/Layout.astro'
import ProjectsPage from '../projects/projects-page'
import LayoutPageTransition from '../../layouts/LayoutPageTransition.astro'
---

<Layout title="My Projects | CollabIn">
  <LayoutPageTransition className="bg-text">
    <div class="container px-5 md:py-6 py-3 mx-auto">
      <ProjectsPage subHeaderText="MY PROJECTS" hasAddProjectButton={true} client:load />
    </div>
  </LayoutPageTransition>
</Layout>
